﻿
@model MvcForum.Web.ViewModels.Member.ActiveMembersViewModel

<div class="sidebox active-members">
    <h4 class="sidebox_header">@Html.LanguageString("Stats.FooterActiveUsersText")</h4>
    <div class="sidebox_content">
        @if (Model.ActiveMembers.Any())
        {
            <ul class="activememberslist">
                @foreach (var member in Model.ActiveMembers)
                {
                    <li>
                        <a title="@Html.Raw(member.UserName)" href="@member.NiceUrl">
                            <img src="@member.MemberImage(ForumConfiguration.Instance.GravatarLeaderboardSize)" alt="@Html.Raw(member.UserName)" />
                        </a>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>@Html.Lang("Notifications.NoActiveMembers")</p>
        }
    </div>
</div>