﻿@model MvcForum.Web.ViewModels.Registration.LogOnViewModel
@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("LogOn.LogOn");
}

<div class="whiteblock">
    @Html.Partial("_SocialLoginButtons")

    @if (Html.Settings().DisableStandardRegistration != true)
    {
        <div class="header"><h3>@ViewBag.Title</h3></div>

        <div class="content">
            @using (Html.BeginForm("LogOn", "Members", FormMethod.Post, new { @class = "form-login" }))
            {
                @Html.ValidationSummary(false)
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                
                <a href="@Url.Action("ForgotPassword")">
                    @Html.LanguageString("Members.ForgotPassword.Link")
                </a>

                <div class="checkbox">
                    @using (Html.BeginLabelFor(m => m.RememberMe, new { @class = "checkbox" }))
                {
                        @Html.CheckBoxFor(m => m.RememberMe)
                    }
                    @Html.ValidationMessageFor(m => m.RememberMe)
                </div>

                <div class="submit-holder">
                    <button type="submit" class="btn btn-primary btn-large">@Html.LanguageString("Buttons.LogOn")</button>
                </div>

                @Html.HiddenFor(x => x.ReturnUrl)
            }
        </div>
    }
</div>
