﻿@model MvcForum.Web.ViewModels.Member.MemberAddViewModel
@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("Members.Register");
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="whiteblock">
        <div class="header">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="content">
            @Html.Partial("_SocialLoginButtons")

            @if (Html.Settings().DisableStandardRegistration != true)
            {
                <div class="mainregisterform">

                    @using (Html.BeginForm("Register", "Members", FormMethod.Post, new { @class = "form-register" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(x => Model.UserName)
                            @Html.TextBoxFor(x => Model.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.UserName)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Email)
                            @Html.TextBoxFor(x => x.Email, new { type = "email", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>

                        <hr/>

                        <div class="form-group">
                            @Html.LabelFor(x => Model.Password)
                            @Html.PasswordFor(x => Model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => Model.ConfirmPassword)
                            @Html.PasswordFor(x => Model.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>

                        <hr/>

                        if (!string.IsNullOrEmpty(Html.Settings().SpamQuestion))
                        {
                            <div class="form-group">
                                <label for="SpamAnswer">@Html.Settings().SpamQuestion</label>
                                @Html.TextBoxFor(x => x.SpamAnswer, new { @class = "form-control" })
                            </div>
                        }

                        <div class="form-group">
                            <label for="spam_protection">@Html.LanguageString("Spam.CaptchaName")</label>
                            <div id="spam_protection" class="g-recaptcha" data-sitekey="6LeSnl0UAAAAAPb0V8lO1gv-2A7OW50Rk5AkCbyQ"></div>
                        </div>

                        <div class="submit-holder">
                            <button type="submit" class="btn btn-primary btn-block">@Html.LanguageString("Members.Register")</button>
                        </div>

                        @Html.HiddenFor(x => x.ReturnUrl)
                    }
                </div>
            }
        </div>
    </div>
    
    @section Scripts
    {
    <script src="https://www.google.com/recaptcha/api.js"></script>
    }
}
else
{
    <p>@Html.LanguageString("Members.AlreadyRegistered")</p>
}