@model MvcForum.Web.ViewModels.Member.ActiveMembersViewModel

<div class="sidebox">
    <h6>@Html.LanguageString("Stats.FooterActiveUsersText")</h6>
    @if (Model.ActiveMembers.Any())
    {
        <ul class="activememberslist">
            @foreach (var member in Model.ActiveMembers)
            {
                <li>
                    <a title="@Html.Raw(member.UserName)" href="@member.NiceUrl">
                        <img src="@member.MemberImage(ForumConfiguration.Instance.GravatarLeaderboardSize)" alt="@Html.Raw(member.UserName)" />
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>@Html.Lang("Notifications.NoActiveMembers")</p>
    }
</div>