﻿@using MvcForum.Core.ExtensionMethods
@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Web.ViewModels.Category.CategoryViewModel

@if (!Model.Permissions[ForumConfiguration.Instance.PermissionDenyAccess].IsTicked)
{
    <div class="category_row">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img style="max-width: 100%;" src="@Url.Content($"~/Content/uploads/{@Model.Category.Id}/{@Model.Category.Image}")" alt="@Model.Category.Name"/>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div style="font-size: 20px; line-height:2em;"><a style="color: @(string.IsNullOrEmpty(Model.Category.Colour) ? "#ced1d1" : Model.Category.Colour)" href="@Model.Category.NiceUrl">@Html.Raw(Model.Category.Name)</a></div>
                <small>@Html.Raw(Model.Category.Description)</small>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 catdiscussions">
                <div>
                    @Html.LanguageString("Moderate.Topics"): @Model.TopicCount
                </div>
                <div>
                    @Html.LanguageString("Topic.CommentsDetails"): @Model.PostCount
                </div>
            </div>
            @if (Model.LatestTopic != null)
            {
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div>
                        @Html.LanguageString("Category.MostRecent") <a href="@Model.LatestTopic.NiceUrl">@Html.Raw(Model.LatestTopic.Name)</a>
                    </div>
                    <div>
                        <a href='@Model.LatestTopic.User.NiceUrl'>@Model.LatestTopic.User.UserName</a>
                    </div>
                </div>
            }
        </div>
    </div>
}