﻿@using MvcForum.Core.Models.General
@using MvcForum.Web.Application.ExtensionMethods

@{
    // Global Stuff
    var themeName = Html.Settings().Theme;
    var theme = new Theme
    {
        ThemeName = themeName,
        ThemePath = string.Concat(ForumConfiguration.Instance.ThemeRootFolder, themeName)
    };
    TempData[Constants.GlobalClass] = Convert.ToBoolean(PageData[Constants.IsMobileDevice]) ? "mobile" : "desktop";
    TempData[Constants.CurrentAction] = ViewContext.RouteData.GetRequiredString("action").ToLower();
    TempData[Constants.CurrentController] = ViewContext.RouteData.GetRequiredString("controller").ToLower();
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaDesc" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <meta property="og:description" content="@ViewBag.MetaDesc" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:site_name" content="@Html.Settings().ForumName" />
    <meta property="og:type" content="website" />
    @RenderSection("SocialMeta", false)
    @ViewBag.Canonical
    @Html.Partial("_StyleSheets", theme)
    <link rel="shortcut icon" href="@Url.Content($"{theme.ThemePath}/content/images/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content($"{theme.ThemePath}/content/images/apple-touch-icon-57-precomposed.png")">
    @Html.Partial("_JavaScript", theme)
    @RenderSection("Header", false)
    @RenderSection("Scripts", false)
    @if (!string.IsNullOrEmpty(Html.Settings().CustomHeaderCode))
    {
        @Html.Raw(Html.Settings().CustomHeaderCode)
    }
</head>

<body class="@TempData[Constants.GlobalClass].ToString() loggedin-@(User.Identity.IsAuthenticated.ToString().ToLower())">
    <header>
        <div class="container-fluid">
            <div class="logo" style="float:left">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content($"{theme.ThemePath}/content/images/logo.png")" alt="@Html.Lang("Site.MvcForum")" class="logoimg"/>                        
                </a>
            </div>
            <button type="button" class="navbar-toggle menu-btn" data-toggle="collapse" data-target="#mvcforum-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="navbar" role="navigation">
            <div class="container-fluid collapse navbar-collapse" id="mvcforum-nav">
                <ul class="nav navbar-nav nav-tabs">
                    @Html.Partial("SubNavigation")
                </ul>
                @Html.Partial("_LogOnPartial")
            </div>
        </nav>
    </header>

    <div class="banner">
        <div class="container-fluid">
            <a href="#"><img src="@Url.Content($"{theme.ThemePath}/content/images/header_banner.png")"/></a>
        </div>
    </div>

    <section class="container-fluid main-section">
        @Html.Partial("_GenericMessage")
        @Html.Partial("_EmailConfirmationNotice")
        @Html.Partial("_NoScript")
        <div id="main" class="mainbody">

            @RenderBody()

        </div>
    </section>

    <div class="banner">
        <div class="container-fluid">
            <a href="#"><img src="@Url.Content($"{theme.ThemePath}/content/images/header_banner.png")"/></a>
        </div>
    </div>

    <footer>
        <div class="container-fluid">
            @RenderSection("Footer", false)
            <div class="row">
                <div class="col-md-3 footer_block">
                    <div style="margin-bottom:20px">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="@Url.Content($"{theme.ThemePath}/content/images/logo.png")" alt="@Html.Lang("Site.MvcForum")" class="logoimg"/>                        
                        </a>
                    </div>
                    <div>© 2015 — 2018 Форум жилого квартала SREDA</div>
                </div>
                <div class="col-md-3 footer_block">
                    <div class="row">
                        <div class="col-md-6"><div style="padding:5px 0"><a href="#">Форум</a></div></div>
                        <div class="col-md-6"><div style="padding:5px 0"><a href="#">Контакты</a></div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><div style="padding:5px 0"><a href="#">Контакты</a></div></div>
                        <div class="col-md-6"><div style="padding:5px 0"><a href="#">Сайт "Story"</a></div></div>
                    </div>
                </div>
                <div class="col-md-4 footer_block">
                    <h4>About</h4>
                    <p>Официальный форум жилого квартала SREDA на Рязанском проспекте. Новости, отзывы покупателей, мнение о квартальной застройке.</p>
                </div>
                <div class="col-md-2 footer_block">
                    <h4 style="margin-bottom:5px">Мы в социальных сетях</h4>
                    <ul class="social_block">
                        <li class="social_button"><a href="https://www.instagram.com/story_apartments"><img src="@Url.Content($"{theme.ThemePath}/content/images/instagram.png")" alt="Instagram"/></a></li>
                        <li class="social_button"><a href="https://www.facebook.com/storyapartments.moscow"><img src="@Url.Content($"{theme.ThemePath}/content/images/facebook.png")" alt="Facebook"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    @if (!string.IsNullOrEmpty(Html.Settings().CustomFooterCode))
    {
        @Html.Raw(Html.Settings().CustomFooterCode)
    }    
</body>
</html>
