﻿<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Action("SideAdminPanel", "Members", new { isDropDown = true })
        <li>@Html.ActionLink(Html.LanguageString("LogOn.LogOff"), "LogOff", "Members")</li>
    }
    else
    {
        if (Html.Settings().SuspendRegistration != true)
        {
            <li><a href="@Url.Action("Register", "Members")">@Html.LanguageString("Layout.Nav.Register")</a></li>
        }
        <li><a href="@Url.Action("LogOn", "Members")">@Html.LanguageString("Layout.Nav.Logon")</a></li>
    }
</ul>
