﻿@using MvcForum.Core.ExtensionMethods
@using MvcForum.Web.Application.ExtensionMethods
@using MvcForum.Web.ViewModels.Post
@model PostViewModel
@{
    var postId = Model.Post.Id;
    var loggedOnUserId = Html.CurrentMember() != null ? Html.CurrentMember().Id : Guid.Empty;
    var isAdmin = User.IsInRole(Constants.AdminRoleName);
    var downVotes = Model.Votes.Where(x => x.Amount < 0).ToList();
    var upVotes = Model.Votes.Where(x => x.Amount > 0).ToList();
}
<div class="post post-@postId" data-id="@postId">
    <div class="row">
        <div class="col-md-2">
            <div style="padding: 10px; text-align:center;">
                <div>
                    <a href="@Model.Post.User.NiceUrl">
                        <img src="@Model.Post.User.MemberImage(ForumConfiguration.Instance.GravatarPostSize)" alt="@Model.Post.User.UserName" class="img-circle">
                    </a>
                </div>
                <div>
                    <a class="postmember-@postId" href="@Html.Raw(Model.Post.User.NiceUrl)">@Html.Raw(Model.Post.User.UserName)</a>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div style="border-bottom:1px solid #ccc; margin-bottom:5px;">
                <div class="row">
                    <div class="col-md-2">
                        @Model.Post.DateCreated.ToString()
                    </div>
                    <div class="col-md-10" style="text-align:right">
                        <a class="permalink" href="@Html.Raw(Model.PermaLink)">#@postId</a>
                        @if (Html.CurrentMember() != null && Model.Post.User.Id != loggedOnUserId && !Model.Post.IsTopicStarter)
                        {
                            <a class="replytolink" href="?reply=@Model.Post.Id#createpost">@Html.LanguageString("Post.Reply")</a>
                        }
                    </div>
                </div>
            </div>
            @if (Model.ShowTopicName)
            {
                <p><a href="@Model.ParentTopic.NiceUrl">@Model.ParentTopic.Name</a></p>
            }
            <div style="min-height:150px;">@Html.Raw(Model.Post.PostContent.ConvertPostContent())</div>
        </div>
    </div>
</div>