﻿@using MvcForum.Core.Utilities
@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Web.ViewModels.Topic.TopicViewModel
@{
    var postToolTip = string.Concat(StringUtils.ReturnAmountWordsFromString(StringUtils.StripHtmlFromString(Model.StarterPost.Post.PostContent), 50), "....");
}
@if (!Model.Permissions[ForumConfiguration.Instance.PermissionDenyAccess].IsTicked)
{
    <div class="category_row">
        <div class="row">
            <div class="col-md-1">
                <a href="@Model.Topic.User.NiceUrl">
                    <img src="@Model.Topic.User.MemberImage(ForumConfiguration.Instance.GravatarTopicSize)" alt="@Model.Topic.User.UserName" class="img-circle">
                </a>
                @if (Model.MemberIsOnline)
                {
                    <span class="label label-success">
                        @Html.Lang("Post.MemberIsOnline")
                    </span>
                }
            </div>

            <div class="col-md-6">
                <h3><a title="@postToolTip" href="@Html.Raw(Model.Topic.NiceUrl)">@Html.Raw(Model.Topic.Name)</a></h3>
                <div><a href="@Model.Topic.User.NiceUrl">@Model.Topic.User.UserName</a></div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.LanguageString("Topic.Comments"): @Model.Answers
                </div>
                <div>
                    @Html.LanguageString("Topic.Views"): @Model.Views
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    @Html.LanguageString("Topic.LatestBy"):
                    <a href="@Html.Raw(Model.LastPostPermaLink)">
                        <img src="@Model.Topic.LastPost.User.MemberImage(ForumConfiguration.Instance.GravatarLatestBySize)" class="latestby" alt="@Model.Topic.LastPost.User.UserName">
                        @Model.Topic.LastPost.User.UserName
                    </a>
                </div>
                <div>
                    @DatesUi.GetPrettyDate(Model.Topic.LastPost.DateCreated.ToString())
                </div>
            </div>
        </div>
    </div>
}