﻿@using MvcForum.Web.Application.ExtensionMethods
@*<li><a href="//www.mvcforum.com"><span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span> Main Website</a></li>*@

<li class="nav_item @(TempData[Constants.CurrentController].ToString() == "home" && TempData[Constants.CurrentAction].ToString() == "index" ? "active" : "")"><a href="@Url.Action("Index", "Home")">@Html.Lang("SubNav.Latest")</a></li>

@if (User.Identity.IsAuthenticated)
{
    <!---->
    <li class="nav_item @(TempData[Constants.CurrentController].ToString() == "home" && TempData[Constants.CurrentAction].ToString() == "following" ? "active" : "")"><a href="@Url.Action("Following", "Home")" >@Html.Lang("SubNav.Following")</a></li>
    <!---->
    <li class="nav_item @(TempData[Constants.CurrentController].ToString() == "home" && TempData[Constants.CurrentAction].ToString() == "postedin" ? "active" : "")"><a href="@Url.Action("PostedIn", "Home")" >@Html.Lang("SubNav.PostedIn")</a></li>
}
<!---->
<li class="nav_item @(TempData[Constants.CurrentController].ToString() == "home" && TempData[Constants.CurrentAction].ToString() == "activity" ? "active" : "")"><a href="@Url.Action("Activity", "Home")" >@Html.LanguageString("Layout.Nav.Activity")</a></li>
