﻿@using MvcForum.Web.Application.ExtensionMethods
@model MvcForum.Web.ViewModels.Topic.CreateTopicButtonViewModel
@if (Model.LoggedOnUser != null && Model.LoggedOnUser.DisablePosting != true && Model.UserCanPostTopics)
{
    <div class="sidebox">
        <a href="@Url.Action("Create", "Topic")" class="btn btn-primary btn-block">
            @Html.LanguageString("Layout.CreateButton")
        </a>
    </div>
}