﻿@using MvcForum.Core.Models.Enums
@using MvcForum.Core.Utilities
@using MvcForum.Web.Application.ExtensionMethods
@using MvcForum.Web.ViewModels
@using MvcForum.Web.ViewModels.Post
@model MvcForum.Web.ViewModels.Topic.TopicViewModel
@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.Raw(AppHelpers.CreatePageTitle(Model.Topic, Html.LanguageString("Topic.TitleFallBack")));
    ViewBag.MetaDesc = StringUtils.ReturnAmountWordsFromString(string.Concat(StringUtils.StripHtmlFromString(Model.StarterPost.Post.PostContent), "..."), 20);

    if (Request.QueryString.AllKeys.Any())
    {
        ViewBag.Canonical = Html.Raw(string.Format("<link rel=\"canonical\" href=\"{0}\"/>", Model.Topic.NiceUrl));
    }

    // Email subscription
    var subScribe = string.Empty;
    var unSubscribe = string.Empty;
    const string displayNone = "style='display:none;'";
    if (Model.IsSubscribed)
    {
        subScribe = displayNone;
    }
    else
    {
        unSubscribe = displayNone;
    }

    var totalCount = 0;

    // Set a ViewBag for the category
    //TempData[Constants.DefaultCategoryViewBagName] = Model.Topic.Category.Id;
    var qs = Request.QueryString[Constants.PostOrderBy] ?? string.Empty;
}
@section SocialMeta {
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta name="twitter:description" content="@ViewBag.MetaDesc" />
}

@section Header
{
    <script>
        var topicId = '@(Model.Topic.Id)';
    </script>
}

@Html.Action("GetTopicBreadcrumb", "Topic", new { topic = Model.Topic })
<div class="topicshow">
    <div class="whiteblock itemblock">
        <h1>@Html.Raw(Model.Topic.Name)</h1>
    </div>

    @if (Html.Settings().EnablePolls == true && Model.Poll != null)
    {
        Html.RenderPartial("_Poll", Model.Poll);
    }

    <div class="whiteblock" style="margin-bottom:10px;">
        @{
            Html.RenderPartial("_Post", Model.StarterPost);
        }
    </div>

    @if(Model.Posts.Count > 0)
    {
        <div class="whiteblock">
            @foreach (var post in Model.Posts)
            {
                Html.RenderPartial("_Post", post);
            }
        </div>
    }

    @if (Model.TotalPages > 1)
    {
        <a href="#" class="showmoreposts btn-mvc btn-mvc-large btn-mvc-fullwidth">
            <span class="smpactive">@Html.LanguageString("Topic.ShowMorePosts")</span>
            <span class="smploading" style="display: none;">@Html.LanguageString("Topic.ShowMorePostsLoading")</span>
        </a>
    }

    @if (!Model.Topic.IsLocked)
    {
        <span id="newpostmarker"></span>

        if (!Model.Permissions[ForumConfiguration.Instance.PermissionDenyAccess].IsTicked && !Model.Permissions[ForumConfiguration.Instance.PermissionReadOnly].IsTicked && !Model.Topic.Category.IsLocked)
        {
            @Html.Partial("_CreateNewPost", new CreateAjaxPostViewModel { Topic = Model.Topic.Id, DisablePosting = Model.DisablePosting, PostContent = Model.QuotedPost, InReplyTo = Model.ReplyTo, ReplyToUsername = Model.ReplyToUsername})
        }
        <a id="createpost"></a>
    }
    else
    {
        <p class="topiclockedmessage">@Html.LanguageString("Topic.IsLocked")</p>
    }

    @if (Model.TotalPages > 1)
    {
        @Html.Pager(Convert.ToInt32(Model.PageIndex), Html.Settings().PostsPerPage, totalCount, null)
    }

    <input type="hidden" id="pageIndex" value="@(Model.PageIndex + 1)" />
    <input type="hidden" id="topicId" value="@Model.Topic.Id" />
    <input type="hidden" id="totalPages" value="@Model.TotalPages" />


</div>