﻿@using MvcForum.Core.ExtensionMethods
@using MvcForum.Core.Utilities
@using MvcForum.Web.ViewModels.Category

@model CategoryViewModel
@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Raw(Model.Category.PageTitle ?? Model.Category.Name);
    ViewBag.MetaDesc = Model.Category.MetaDescription ?? StringUtils.StripHtmlFromString(Model.Category.Description);
    var totalCount = Convert.ToInt32(Model.TotalCount);
    ViewBag.Canonical = Html.Raw(AppHelpers.CanonicalPagingTag(totalCount, Html.Settings().TopicsPerPage, Html));

    var subScribe = string.Empty;
    var unSubscribe = string.Empty;
    const string displayNone = "style='display:none;'";
    if (Model.IsSubscribed)
    {
        subScribe = displayNone;
    }
    else
    {
        unSubscribe = displayNone;
    }
    //TempData[Constants.DefaultCategoryViewBagName] = Model.Category.Id;
}
@section SocialMeta {
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta name="twitter:description" content="@ViewBag.MetaDesc" />
}
@section side
{
    @Html.Partial("_CommonSideNav")
}

@Html.Action("GetCategoryBreadcrumb", "Category", new { category = Model.Category })

<div class="category">
    <div class="whiteblock mainheading clearfix">
        @if (!string.IsNullOrEmpty(Model.Category.Image))
        {
            <div style="max-width:100px; float:left; margin-right:10px">
                <img src="@Url.Content($"~/Content/uploads/{@Model.Category.Id}/{@Model.Category.Image}")" alt="@Model.Category.Name" class="categoryimage" />
            </div>
        }
        <div>
            <h2 style="text-overflow:ellipsis">@Html.Raw(Model.Category.Name)</h2>
            <small>@Html.Raw(Model.Category.Description.ConvertPostContent())</small>
        </div>
    </div>

    @if (Model.SubCategories != null)
    {
        <div class="whiteblock mainheading">
            Html.RenderPartial("_SubCategories", new SubCategoryViewModel
                {
                    AllPermissionSets = Model.SubCategories.AllPermissionSets,
                    ParentCategory = Model.Category
                });
        </div>
    }

    <div class="whiteblock">
        @if (Model.TotalCount > 0)
        {
            foreach (var topic in Model.Topics)
            {
                Html.RenderPartial("_Topic", topic);
            }

            if (Model.TotalPages > 1)
            {
                @Html.Pager(Convert.ToInt32(Model.PageIndex), Html.Settings().TopicsPerPage, totalCount, null)
            }
        }
        else
        {
            <h4 style="text-align:center">@Html.LanguageString("Category.NoDiscussions")</h4>
        }
    </div>

</div>