﻿@using MvcForum.Web.Application.ExtensionMethods
@{
    var searchFor = Html.Lang("Side.Search.SearchFor");
}
<div class="sidebox sidesearchbox">
    <h4 class="sidebox_header">@Html.LanguageString("Side.Search")</h4>
    <div class="sidebox_content">
        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("term", null, new { @class = "form-control", placeholder = searchFor })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">@Html.Lang("Side.Search.Go")</button>
                </span>
            </div>
        }
    </div>
</div>