.page-header {
  padding-bottom: 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #eee;
}

.dropdown-menu {
  min-width: 210px;
}

.navbar-brand {
  padding: 12px 0 0 14px;
}

.navbar {
  min-height: 1px;
  padding: 0;
  margin: 0;
}

.navbar-inverse {
  border: none;
  background: none;
}

.navbar-inverse .navbar-nav {
  border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a.active, .navbar-inverse .navbar-nav > li > a:visited.active {
  background-color: #000;
  color: #fff;
}

.navbar-inverse .navbar-toggle {
  background-color: #636267;
}

.side-nav > li > ul > li > a.active, .side-nav > li > ul > li > a:visited.active {
  background-color: #000;
  color: #fff;
}

.navbar-right {
  margin-right: 0;
}

.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
  background: #636267;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #636267;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}

.form-control {
  border-radius: 0;
}

.input-group-btn:last-child > .btn {
  padding: 7px 12px 6px 12px;
}

@media (max-width: 767px) {
  .navbar-nav {
    margin: 0;
    background-color: #222;
  }
}

.panel {
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  border-top: 4px #e7eaec solid;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel .panel-heading {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px #e7eaec solid;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 44px;
}

.panel .panel-heading h5 {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  float: left;
  font-weight: bold;
}

.panel .panel-heading .label {
  float: left;
  margin-left: 4px;
}

.panel .panel-heading .tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
}

.panel .panel-heading .tools a, .panel .panel-heading .tools a:visited {
  cursor: pointer;
}

.panel .panel-heading .tools a.btn-mvc-green, .panel .panel-heading .tools a:visited.btn-mvc-green {
  margin-top: -6px;
}

.panel .panel-content, .panel .panel-body {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
}

.panel-group .panel {
  margin-bottom: 15px;
}

#page-wrapper {
  background-color: #f3f3f4;
  border-bottom: 1px #e7eaec solid;
}

@media (max-width: 767px) {
  #page-wrapper {
    padding-top: 15px;
  }
}

.mvcforum-nav {
  background-color: #fff;
  border-bottom: 1px #e7eaec solid !important;
  padding: 0;
  margin: 0;
}

.membereditavatar {
  margin-bottom: 12px;
}

.backbutton {
  margin-top: -8px;
  margin-bottom: 10px;
}

/*body {
    font-family: $font-base-family;
    color: $font-base-color;
    @media (max-width: 979px) {
        body { padding: 0 !important; }
    }
    @media (max-width: $media-query-mobile) {
        .btn-mvc-large { padding-left: 0; padding-right: 0; width: 100%; display: block; }
    }
}*/
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0 0 12px 0;
  color: #5a5a5a;
  font-weight: 300;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

@media (max-width: 600px) {
  table .table-adaptive caption {
    background-image: none;
  }
  table .table-adaptive thead {
    display: none;
  }
  table .table-adaptive tbody td {
    display: block;
  }
  table .table-adaptive tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 6rem;
  }
  table .table-adaptive tbody tr td:first-child {
    background: #e4e4e4;
  }
  table .table-adaptive > tbody > tr > td {
    border: none;
    border-top: 1px solid #ddd;
  }
  table .table-adaptive > tbody > tr > td:first-child {
    border: none;
  }
}

.tablescroll {
  overflow-x: scroll;
  overflow-y: auto;
  margin: 0 0 20px 0;
}

.tablescroll td {
  min-width: 65px;
}

.green-colour {
  color: #1ab394;
}

.red-colour {
  color: #ed5565;
}

.blue-colour {
  color: #1c84c6;
}

a, a:visited {
  color: #1c84c6;
}

a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #176ca2;
}

.validation-summary-errors ul {
  padding: 0;
  margin: 0 0 5px 0;
}

.validation-summary-errors ul li {
  padding: 4px;
  background-color: #ed5565;
  color: #f7b1b9;
  list-style: none;
}

.field-validation-error {
  color: #ed5565;
  font-size: 12px;
}

.btn-mvc, .btn-mvc:visited {
  display: inline-block;
  padding: 6px 16px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #efefef;
  color: #333;
}

.btn-mvc:hover, .btn-mvc:focus, .btn-mvc:active, .btn-mvc:visited:hover, .btn-mvc:visited:focus, .btn-mvc:visited:active {
  text-decoration: none;
  background-color: #e0e0e0;
  color: #333;
}

.btn-mvc-red, .btn-mvc-red:visited {
  display: inline-block;
  padding: 6px 16px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #efefef;
  color: #333;
  background-color: #ed5565;
  color: #fff;
}

.btn-mvc-red:hover, .btn-mvc-red:focus, .btn-mvc-red:active, .btn-mvc-red:visited:hover, .btn-mvc-red:visited:focus, .btn-mvc-red:visited:active {
  background-color: #f07582;
  color: #fff;
}

.btn-mvc-blue, .btn-mvc-blue:visited {
  display: inline-block;
  padding: 6px 16px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #efefef;
  color: #333;
  background-color: #1c84c6;
  color: #fff;
}

.btn-mvc-blue:hover, .btn-mvc-blue:focus, .btn-mvc-blue:active, .btn-mvc-blue:visited:hover, .btn-mvc-blue:visited:focus, .btn-mvc-blue:visited:active {
  background-color: #16699e;
  color: #fff;
}

.btn-mvc-green, .btn-mvc-green:visited {
  display: inline-block;
  padding: 6px 16px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #efefef;
  color: #333;
  background-color: #1ab394;
  color: #fff;
}

.btn-mvc-green:hover, .btn-mvc-green:focus, .btn-mvc-green:active, .btn-mvc-green:visited:hover, .btn-mvc-green:visited:focus, .btn-mvc-green:visited:active {
  background-color: #148b73;
  color: #fff;
}

.btn-mvc-small, .btn-mvc-small:visited {
  padding: 5px 12px;
  font-size: 12px;
  line-height: 12px;
}

.btn-mvc-large, .btn-mvc-large:visited {
  padding: 9px 25px;
  font-size: 19px;
  line-height: 19px;
}

.btn-mvc-fullwidth, .btn-mvc-fullwidth:visited {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: block;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.paddedrow {
  padding-top: 10px;
  padding-bottom: 3px;
}

.topadminsubnav {
  padding: 0 0 25px 0;
}

.mainadminbody {
  padding-top: 8px;
}

.mainadmincategorylist {
  margin: 0;
  padding: 15px 0;
}

.mainadmincategorylist li {
  font-size: 1.4em;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 10px 0;
  border-bottom: 1px dotted #eee;
}

.mainadmincategorylist li.subcategoryitem {
  padding: 3px 0;
  border: 0;
}

.mainadmincategorylist ul.subcategorylist {
  font-size: 11px;
  padding: 0 0 0 5px;
  margin: 0 0 10px 10px;
  border-left: 2px #eeeeee solid;
}

.blankcontainer {
  width: 720px;
  min-height: 400px;
  height: auto !important;
  height: 400px;
}

.fancybox-skin {
  background-color: #fff !important;
}

.editpermissionsspinner {
  margin: 0 0 0 15px;
}

.fluidheader {
  padding: 0 0 15px 0;
}

.input-append .add-on, .input-append .btn {
  margin-left: -4px;
}

.membersadminsearch, .tablesearch {
  padding-bottom: 25px;
}

.resourcevalue {
  width: 200px;
}

.resourcevalueinput {
  width: 190px;
}

.sidebar-nav {
  padding: 5px;
}

.sidebar-nav ul {
  padding: 0;
}

.permissiontypes a .glyphicon-remove, .permissiontypes a:visited .glyphicon-remove {
  color: #fff;
}

footer {
  padding: 40px 0 0 0;
}

.logentry {
  padding: 5px 0;
  border-bottom: 1px dotted #efefef;
}

.rolepermissionlist {
  padding: 0;
  margin: 0;
}

.rolepermissionlist li {
  list-style: none;
  padding: 5px 0;
}

.adminsection {
  border: 1px #efefef solid;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  clear: both;
  margin: 0 0 20px 0;
}

.label, .badge {
  font-size: 14px;
}

.btn-show-admin-nav {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: normal;
  height: auto;
  display: none;
}

@media (max-width: 767px) {
  h1 {
    font-size: 28.5px;
  }
  /*--- Nav Bar ---*/
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }
  #logindisplay {
    text-align: center;
    font-size: 14px;
  }
  /*-- Dashboard --*/
  .dashboardrow {
    padding: 0;
  }
  .dashboardrow .span6 {
    padding-bottom: 10px;
  }
  /*-- Admin Options --*/
  .btn-show-admin-nav {
    display: block;
  }
  .admin-options {
    display: none;
  }
  /*--- Tabs ---*/
  .tabs-below > .nav-tabs {
    border: none;
  }
  .tabs-below > .nav-tabs > li {
    width: 49%;
  }
  .tabs-below > .nav-tabs > .active > a {
    border-color: #ddd;
  }
}
/*# sourceMappingURL=Admin.css.map */