﻿$primary_color: #5d6e72;
$secondary_color: #fff;
$background_color: #f7f7f7;

$large_wide: 1500px;
$medium_wide: 1200px;
$small_wide: 1024px;
$extra_small_wide: 768px;

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 100;
    src: url(../Fonts/MuseoSansCyrl-100.eot);
    src: url(../Fonts/MuseoSansCyrl-100.woff) format('woff'), url(../Fonts/MuseoSansCyrl-100.svg) format('svg'),url(../Fonts/MuseoSansCyrl-100.ttf) format('truetype')
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 300;
    src: url(../Fonts/MuseoSansCyrl-300.eot);
    src: url(../Fonts/MuseoSansCyrl-300.woff) format('woff'),url(../Fonts/MuseoSansCyrl-300.svg) format('svg'),url(../Fonts/MuseoSansCyrl-300.ttf) format('truetype')
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 500;
    src: url(../Fonts/MuseoSansCyrl-500.eot);
    src: url(../Fonts/MuseoSansCyrl-500.woff) format('woff'),url(../Fonts/MuseoSansCyrl-500.svg) format('svg'),url(../Fonts/MuseoSansCyrl-500.ttf) format('truetype')
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 700;
    src: url(../Fonts/MuseoSansCyrl-700.eot);
    src: url(../Fonts/MuseoSansCyrl-700.woff) format('woff'),url(../Fonts/MuseoSansCyrl-700.svg) format('svg'),url(../Fonts/MuseoSansCyrl-700.ttf) format('truetype')
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 900;
    src: url(../Fonts/MuseoSansCyrl-900.eot);
    src: url(../Fonts/MuseoSansCyrl-900.woff) format('woff'),url(../Fonts/MuseoSansCyrl-900.svg) format('svg'),url(../Fonts/MuseoSansCyrl-900.ttf) format('truetype')
}

body {
    color: $primary_color;
    background-color: $background_color;
    font-family: Museo Sans Cyrl;
    font-weight: 300;
}

p {
    margin: 0;
}

a {
    color: $primary_color;
}
.btn-primary {
    background-color: $primary_color;
    border: none;
}
.btn-primary:hover {
    background-color: $primary_color;
}

header, footer {
    color: $secondary_color;
    background: $primary_color url(/mvcforum/Themes/Store/Content/Images/header-bg.png);
}

header, footer a {
    color: $secondary_color;
}

.logo {
    padding: 20px 0;
}
header .logoimg {
    max-width: 300px;
}

footer .logoimg {
    max-width: 200px;
}


.navbar {
    margin: 0;
    min-height: 0;
    border: none;
}

.navbar-toggle {
    border-color: $secondary_color;
}
.navbar-toggle .icon-bar {
    background: $secondary_color;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    border: none;
}
.nav-tabs>li>a:hover {
    color: $primary_color;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: none;
    background-color: $background_color;
}

.nav-tabs {
    border-bottom: none;
}

.banner {
    margin: 20px 0;
}
.banner img {
    max-width: 100%;
}

.sidebox {
    background-color: $secondary_color;
    border-radius: 5px;
    margin-bottom: 10px;
}
.sidebox_header {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ededed;
}
.sidebox_content {
    padding: 10px;
}

.whiteblock {
    color: #6f6f6f;
    background-color: $secondary_color;
    border-radius: 5px;
}
.whiteblock h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.whiteblock .header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.whiteblock .content {
    padding: 10px;
}

.mainheading {
    padding: 10px;
    margin-bottom: 10px;
    max-height: 70px;
    overflow: hidden;
}
.categoryimage {
    max-width: 100%;
    height: auto;
}

.category_row {
    padding:15px;
}

.itemrow {
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.itemrow:last-child {
    border-bottom: none;
}

.itemblock {
    padding: 10px;
    margin-bottom: 10px;
}

.post {
    padding: 10px;
}

.footer_block {
    padding: 10px;
}


// Social buttons block
.social_block {
    padding: 0;
}

.social_button {
    display: inline-block;
    background: #fff;
    padding: 2px;
    border-radius: 50%;
    margin-right: 5px;
}

.social_button img {
    width: 32px;
    height: 32px;
}

@media only screen and (min-width: $large_wide) {
    .container-fluid {
        max-width: 1470px;
    }
}