﻿@using System.Linq;
@model MvcForum.Web.ViewModels.HighEarnersPointViewModel

@if (Html.Settings().EnablePoints && Model.HighEarners.Any(x => x.Value > 0))
{
    <div class="sidebox highearners-box">
        <h5>@Html.LanguageString("Points.ThisWeeksHighEarners")</h5>

        <ul>
            @foreach (var dict in Model.HighEarners.Where(x => x.Value > 0))
            {
                <li class="clearfix">
                    <span class="earnername">
                        <img src="@dict.Key.MemberImage(ForumConfiguration.Instance.GravatarLeaderboardSize)" alt="@dict.Key.UserName">
                        <a href="@dict.Key.NiceUrl">@dict.Key.UserName</a>
                    </span>
                    <span class="earneramount">
                        @dict.Value <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                    </span>
                </li>
            }
        </ul>

    </div>
}